<div id="help">
  <section id="whole" class="mt-5 pt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="text-center p-2">「Okurun」にご登録出来ない保護者様へ</h2>
          <p>
            いつもありがとうございます。<br />
            フリーメール(ヤフーメール hotmail
            Gmailなど)をお使いの場合、またはケータイメールアドレスをお使いの場合、こちらからの本人確認メールがお届け出来ていないケースがあります。<br />
            下記のような状況が考えられますので、内容をご確認ください。
          </p>
          <ul>
            <li class="lead link">
              <a href="#free">フリーメールをご利用の方はこちら</a>
            </li>
            <!-- <small>
							Yahoo!やHotmailなどの迷惑メール防止機能により「迷惑フォルダ」「削除フォルダ」「スパムフォルダ」等に自動的に振り分けられてしまうことがあります。
						</small> -->
            <li class="lead link">
              <a href="#career">ケータイメールをご利用の方はこちら</a>
            </li>
            <!-- <small>
							ケータイ電話に転送やお知らせ（転送）する機能があるような場合は、ケータイ電話の設定でインターネットメールもしくは
							ドメインの指定などでメールを受信するよう設定をお願い致します。
						</small> -->
            <li class="lead link">
              <a href="#except">その他の可能性はこちら</a>
            </li>
            <!-- <small>
							セキュリティソフトの設定、入力したメールアドレスが間違っている、ご利用のメールサーバーの容量がいっぱいになっているなどの理由の可能性もございます。
						</small> -->
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="free" class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="text-center p-2">
            フリーメールアドレスをご利用の保護者様
          </h2>
          <p>
            <span class="lead font-weight-bold"
              >▼迷惑メールフォルダに入っている</span
            >
            <br />
            迷惑メール防止機能により当塾からのメールが迷惑メールと間違えられ、受信画面に出てこない場合があります。<br />
            迷惑メールフォルダやゴミ箱に自動的に振り分けられている可能性がありますので、一度ご確認頂きますようお願い致します。<br />
            また、各フリーメールサービスの受信メールの振り分け（フィルター）設定をお試し頂くことで迷惑メールフォルダへの振り分けを防ぐことができます。<br />
          </p>
          <p>
            <span class="lead font-weight-bold"
              >・受信許可等の設定方法【Yahoo!メール】</span
            >
            <br />
            (1)Yahoo!メールにログイン、画面右上の[ メールの設定
            ]をクリックして下さい。<br />
            (2)「メールオプション・メールの管理」の欄の[
            フィルターと受信通知設定 ]より[ 追加 ]をクリックして下さい。<br />
            (3)フィルターの追加画面より、設定を次のようにします。<br />
            Fromが[@okurun.jp ] [ を含む ]<br />
            移動先フォルダ:[ 受信箱 ]<br />
            (4)［ 保存 ］をクリック。<br />
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="career" class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="text-center p-2">携帯メールアドレスをご利用の保護者様</h2>
          <p>
            <span class="lead font-weight-bold"
              >▼メール防止フィルターによってはじかれている</span
            >
            <br />
            メール防止フィルターをご利用の場合は、（ @okurun.jp
            ）のフィルター解除し、【jiyujyuku@okurun.jp】を受信できるよう設定をお願い致します。
          </p>
          <p>
            <span class="lead font-weight-bold"
              >▼ケータイ電話会社の設定によってはじかれている</span
            >
            <br />
            ケータイ電話会社や、機種により、定期的にメール受信の設定に更新がかかる場合がございます。<br />
            その為、今まで受信されていたメールマガジン及び弊社からのご注文確認メール・お問い合わせの返信などが届かなくなる場合がございます。<br />
            ドメイン設定などされていないのに、弊社からのご連絡が届かない場合は、ケータイ電話の設定のご確認をお願い致します。
          </p>
          <p>
            <span class="lead font-weight-bold">
              ・【docomo】ドメイン指定受信設定方法
            </span>
            <br />
            ①ケータイ電話の「i-modeボタン」を押す。<br />
            ②メニューの中から「i-Menu」を選択。<br />
            ③画面中段の「お客様サポートFREE」を選択。<br />
            ④メニューの中から「③各種設定（確認・変更・利用）」を選択。<br />
            ⑤メニューの中から「・詳細な設定(メール設定)」を選択。<br />
            ⑥メニューの中から「迷惑メール対策」を選択。「暗証番号」を入力して「決定」を選択。<br />
            ⑦メニューの中から「▼受信/拒否設定」の「設定」を選択して「次へ」を選択。<br />
            ⑧「▼ステップ4」の「受信設定」を選択<br />
            ⑨「▽個別に受信したいドメインまたはアドレス」に「jiyujyuku@okurun.jp」と入力して「登録」を選択。<br />
            以上でdocomoの設定は完了です。<br />
            ※「i-Menu」のメニュー画面は随時変わる場合があります。<br />
            上記手順で解決できない場合は、ドコモインフォメーションセンター<br />
            （オペレーターによる受付時間は9:00～20:00）へお問合せください。
          </p>
          <p>
            <span class="lead font-weight-bold">
              ・【au】ドメイン指定受信設定方法
            </span>
            <br />
            ①ケータイ電話の「メールボタン」を押す。<br />
            ②メニュー最下部の「Eメール設定」を選択。<br />
            ③メニューの中から「メールフィルター」→「次へ」を選択。<br />
            または「その他の設定」→「メールフィルター」を選択。<br />
            ④「暗証番号」を入力し、「送信」を押す。<br />
            ⑤メニューの中から「6.指定受信リスト設定」を押す。<br />
            ⑥入力欄に「jiyujyuku@okurun.jp」と入力して「登録」を選択。<br />
            ⑦登録内容を確認し「登録」を選択。<br />
            「終了」を選択。<br />
            URLリンク規制とHTMLメール規制解除設定<br />
            ⑧メールフィルター画面より「8その他の設定」を選択。<br />
            「URLリンク規制」<br />
            「HTMLメール規制」の2つを「規制しない」に選択。<br />
            「登録」を選択。<br />
            ⑨確認画面で入力に間違えがない事を確認して「登録」を選択。<br />
            ⑩設定された項目を確認し、「終了」を選択。<br />
            以上でauの設定は完了です。<br />
            上記手順で解決できない場合は、auお客様サポートセンター<br />
            （オペレーターによる受付時間は9:00～20:00）へお問合せください。<br />
          </p>
          <p>
            <span class="lead font-weight-bold">
              ・【softbank】ドメイン指定受信設定方法
            </span>
            <br />
            ①ケータイ電話の「Y!ボタン」を押す。<br />
            ②メニュー最上部から「メニューリスト」を選択。<br />
            ③メニューリストのYahoo!ケータイサービスから「MySoftBank」を選択。<br />
            ④メニュー中段から「各種変更手続き」を選択。<br />
            ⑤メニュー中段から「メール設定（アドレス・迷惑メール等）」を選択。<br />
            暗証番号を入力し、｢OK｣を選択。<br />
            ⑥メニューの中から「迷惑メールブロック設定」を選択。<br />
            ⑦メニュー下段から「個別設定」を選択して「次へ」を押す。<br />
            ⑧メニューの中から「5.受信許可・拒否設定」を選択。<br />
            ⑨メニューの中から「許可リストとして設定」を選択し、「アドレスリストの編集」を選択。<br />
            ⑩メニュー下部から「個別アドレスの追加」を押す。<br />
            ⑪アドレス入力欄に「 jiyujyuku@okurun.jp 」と入力し、<br />
            メニューの中から「ドメイン(E-mail)」と「このアドレスを有効にする」を選択して「ＯＫ」を選択。<br />
            以上でソフトバンクの設定は完了です。<br />
            上記手順で解決できない場合は、ソフトバンクお客様センター<br />
            （オペレーターによる受付時間は9:00～20:00）へお問合せください。<br />
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="except" class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2 class="text-center p-2">
            その他の可能性
          </h2>
          <p>
            <span class="lead font-weight-bold">▼メールアドレスの間違い</span>
            <br />
            保護者様が登録時に入力されたメールアドレスの記述が間違っているケースが数多くございます。<br />
            お心当たりのある場合は、当塾まで保護者様のお名前・電話番号、メールが届いていない旨をご連絡ください。
          </p>
          <p>
            <span class="lead font-weight-bold"
              >▼ウイルス対策ソフト、セキュリティソフトの設定</span
            >
            <br />
            セキュリティソフトの設定によっては、メールを迷惑メールと判断し、受信拒否・削除することがあります。<br />
            お使いのセキュリティソフトの設定をご確認頂き、迷惑メール除外設定をお願い致します。
          </p>
          <p>
            <span class="lead font-weight-bold"
              >▼サーバー上のメールボックスがいっぱいになっている場合</span
            >
            <br />
            サーバー上のメールボックスの容量には上限があり、定期的にメール受信して削除しないと、受信ボックスがいっぱいになってしまいます。<br />
            受信ボックスがいっぱいになると、新しいメールを受け付けないことがあります。<br />
            最近、メールを使用されていない保護者でお心当たりのある方は、サーバーのメール削除をお願いたします。<br />
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
