<% if user.errors.any? %>
  <div id="error_explanation">
		<div class="alert alert-danger">
			<%= "#{user.errors.count}つのエラーがあります。" %>
		</div>
  	<ul>
  		<% user.errors.full_messages.each do |message| %>
    		<li><%= message %></li>
    	<% end %>
  	</ul>
	</div>
<% end %>