<% if obj.errors.any? %>
  <div id="error_explanation">
		<div class="alert alert-danger">
			<%= "#{obj.errors.count}つのエラーがあります。" %>
		</div>
  	<ul>
  		<% obj.errors.full_messages.each do |message| %>
    		<li><%= message %></li>
    	<% end %>
  	</ul>
	</div>
<% end %>