<div class="card bg-brown my-4">
	<h5 class="card-header">返信する：</h5>
	<div class="card-body">
		<%= form_for(reply, url: reply_report_url) do |f| %>
			<div class="form-group">
				<%= f.text_area :content, :size => "10x3", class: "form-control form-control-lg" %>
			</div>
			<%= f.submit '送信する', data: { confirm: "本当に送信してもよろしいですか？", disable_with: '処理中...' }, class: "btn" %>
		<% end %>
	</div>
</div>