<% provide(:title, "個人設定")%>
<% provide(:btn_text, "変更する")%>
<div class="container my-3">
	<div class="row">
		<div class="col-md-9 mx-auto">
			<div class="card bg-brown shadow">
				<div class="card-body">
					<h3 class="mb-0">
						<strong class="align-middle">
							<i class="fas fa-user-circle"></i> <%= @student.name %>
						</strong>
					</h3>

					<hr />

					<%= render 'form', student: @student %>
				</div>
			</div>
		</div>
	</div>
</div>