<div class="mb-3">
  <div class="card shadow-sm border-left-news">
    <div class="card-body">
      <div class="card-body-icon-news">
        <i class="far fa-clipboard"></i>
      </div>
      <strong class="d-inline-block mb-2">お知らせ</strong>
      <h5 class="mb-0">
        「<%= news.title %>」
      </h5>
      <p class="my-2">
        書いた講師：<i class="fas fa-user-circle"></i>    <%= news.teacher.name %>
      </p>
      <div class="text-muted my-2">
        <%= time_ago_in_words(news.created_at) %>前に投稿
      </div>
      <div class="card_check">
        <%= link_to news, class: "btn btn-news" do %>
          <i class="fas fa-arrow-right mr-2"></i>詳細
        <% end %>
      </div>
    </div>
  </div>
</div>