<% provide(:title, "お知らせ")%>
<div class="container mt-3">
  <section id="news">
    <div class="row">
      <% @news.each do |news| %>
        <div class="col-md-4">
          <%= render news %>
        </div>
      <% end %>
      <div class="col-md-12">
        <%= will_paginate @news, :previous_label => '&laquo', :next_label => '&raquo' %>
      </div>
    </div>
  </section>
</div>