<% provide(:title, "お問い合わせ")%>
<div class="container mt-3">
  <section id="news">
    <div class="row">
      <% @contacts.each do |contact| %>
        <div class="col-md-4">
          <%= render contact %>
        </div>
      <% end %>
      <div class="col-md-12">
        <%= will_paginate @contacts, :previous_label => '&laquo', :next_label => '&raquo' %>
      </div>
    </div>
  </section>
</div>