<% provide(:title, "新規作成")%>
<% provide(:btn_text, "作成する")%>
<div class="container mt-3">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="card bg-brown shadow">
				<div class="card-header">
					<h2>お問い合わせ作成</h2>
				</div>
				<div class="card-body">
					<%= render 'form', contact: @contact %>
				</div>
			</div>
		</div>
	</div>
</div>