<p><%= @student.name %> 様</p>

<hr>


<p>
	この度は自由塾に生徒登録して頂き、ありがとうございます。<br>
	以下からアカウントを有効化して下さい。<br>
	自由塾が承認次第、ログインが可能となります。
</p>

<p>
<%= link_to 'アカウント有効化', account_activation_url(@student.activation_token, login_id: @student.login_id) %>
</p>

<hr>

<p>

学習指導塾「自由塾」<br>
住所：東京都荒川区東日暮里6-60-1<br>
電話：03-3806-3610<br>
受付：月〜金（15:00〜22:00）<br>

</p>