<h3><%= @student.name %> 様</h3>

<p>この度、自由塾の指導報告書サービスサイトに登録されました。</p>
<p>以下は、登録をさせて頂きました生徒情報です。</p>

<p>
生徒名：<%= @student.name %><br>
パスワード：(セキュリティ保護のため、伏せています)<br>
メールアドレス：<%= @student.email %><br>
</p>
<p>
間違いなどがあれば、以下から申しつけ下さい。<br>
<%= mail_to('hirofumi0330@gmail.com', 'お問い合わせはこちら') %>
</p>