<p><%= @student.name %> 様</p>

<hr>

<p>
この度、自由塾の指導報告書サービスサイトに登録されました。<br>
以下は、登録をさせて頂きました生徒情報です。
</p>

<ul>
	<li>生徒名：<%= @student.name %></li>
	<li>パスワード：(セキュリティ保護のため、伏せています)</li>
	<li>メールアドレス：<%= @student.email %></li>
</ul>

<p>
何か情報に間違いなどがあれば、以下から申し付け下さい。<br>
<%= mail_to(Teacher.first.email, 'お問い合わせはこちら') %>
</p>

<hr>

<p>

学習指導塾「自由塾」<br>
住所：東京都荒川区東日暮里6-60-1<br>
電話：03-3806-3610<br>
受付：月〜金（15:00〜22:00）<br>

</p>