<p>パスワード再設定</p>

<hr>

<p>
パスワードを再設定するために、以下のリンクをクリックしてください。
</p>

<% if @user.class == Teacher %>
	<%= link_to 'パスワード再設定', edit_password_reset_url(@user.reset_token, email: @user.email) %>
<% else %>
	<%= link_to 'パスワード再設定', edit_password_reset_url(@user.reset_token, login_id: @user.login_id) %>
<% end %>

<p>
このリンクの期限は2時間以内です。
</p>

<p>
もしパスワードを再設定されない場合は、このメールを無視してパスワードをそのままにしてください。
</p>

<hr>

<%= render 'zyuku' %>