<% provide(:title, "個人設定")%>
<% provide(:btn_text, "変更する")%>
<div class="container mt-3">
	<div class="row">
		<div class="col-md-9 mx-auto">
			<div class="card bg-brown shadow">
				<div class="card-header">
					<h2><i class="fas fa-user-edit"></i> 個人情報を変更</h2>
				</div>
				<div class="card-body">
					<%= render 'form', teacher: @teacher %>
				</div>
			</div>
		</div>
	</div>
</div>
