<% provide(:title, "講師作成")%>
<% provide(:btn_text, "作成する")%>
<div class="container">
	<div class="row">
		<div class="col-md-9 mx-auto">
			<div class="card shadow-sm">
				<div class="card-header">
					<h2>講師登録</h2>
				</div>
				<div class="card-body">
					<%= render 'form', teacher: @teacher %>
				</div>
			</div>
		</div>
	</div>
</div>


