<% provide(:title, "Login")%>
  <div class="login">
    <div class="container">
      <div class="title">
        <h1>自由塾</h1>
        <p>-いつも、ありがとうございます-</p>
      </div>
      <div class="input">
              <div>
                <input type="text" name="" value="" placeholder="IP" class="ip">
              </div>
              <div>
                <input type="Password" name="" value="" placeholder="Password" class="pass">
              </div>
              <div>
                <input type="checkbox" name="" value="" class="check"><label>次回からログインを維持</label>
              </div>
              <div>
                <button type="button" name="button" class="loginbutton">ログイン</button>
              </div>
      </div>
      <div class="buttons">
        <i class="fab fa-facebook-square fa-3x facebook"></i>
        <i class="fab fa-line fa-3x line"></i>
        <i class="fab fa-twitter fa-3x twitter"></i>
        <i class="fab fa-google fa-3x google"></i>
      </div>
    </div>
  </div>
  <div class="login">
    <div class="container">
      <div class="title">
        <h1>FREE</h1>
        <p>-本日も、お疲れ様です。報告書お願いします-</p>
      </div>
      <div class="input">
              <div>
                <input type="text" name="" value="" placeholder="IP">
              </div>
              <div>
                <input type="Password" name="" value="" placeholder="Password">
              </div>
              <div>
                <input type="checkbox" name="" value="" class="check"><label>次回からログインを維持</label>
              </div>
              <div >
                <button type="button" name="button" class="loginbutton">ログイン</button>
              </div>
      </div>
      <div class="buttons">
        <i class="fab fa-facebook-square fa-3x facebook"></i>
        <i class="fab fa-line fa-3x line"></i>
        <i class="fab fa-twitter fa-3x twitter"></i>
        <i class="fab fa-google fa-3x google"></i>
      </div>
    </div>
  </div>
