/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .login{
   background-color: #eee
 }

  .title{
   text-align: center;
   font-size: 50px;
 }

 .input{
 text-align: center;
 font-size: 15px;
 }

 .input input {
   height: 2.878rem;
   line-height: 1.5;
   font-size: 1.25rem;
   padding: 0.5rem 1rem;
 }
 .loginbutton{
   margin: 20px;
   padding: 20px;
 }

 .buttons{
 text-align: right;
 margin-right: 50px;
 }
 .facebook{
   color: #33f;
 }
 .line{
 color:#3c3;
 }
 .twitter{
 color:skyblue;
 }
 .google{
   color:red;
 }
 /*メニューバー*/
 header ul{
     width: 1000px;
     overflow: hidden;
 }
  header  li {
     float: left;
     width: 200px;
     list-style-type: none;
 }

 header  a {
     display: block;
     padding: 20px 0;
     text-align: center;
     font-weight: bold;
     text-decoration: none;
     background-color: #ddd;
     color: #000;
 }

  header  a:hover {
     background-color: #c58;
 }
 /*指導報告書*/
 .report{
   font-size: 10px;
 }
 .report input,textarea{
   font-size: 1.25rem;
 }
 .reportbutton{
   text-align: center;
 }

 /*塾からのお知らせ*/
 .news ul{
   border:2px,solid,black;
 }
