/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/*-- 全レイアウト共通 --*/
html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  background: #f7f5f2;
  color: #4d3a34;
}

a,
a:hover,
a:focus {
  color: inherit;
  transition: all 0.3s;
}

.link {
  color: #ea8d76;
  &:hover {
    color: #de6e52;
  }
}

/*-- 本体(サイドバーを抜く) --*/
#content {
  padding-top: 53px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

/*-- ボタン --*/
.btn {
  background: #6078bd; /*ボタン色*/
  color: #fff;
  &:hover {
    background: #8197d6; /*ボタンにカーソルのせた色*/
    color: #fff;
  }
}

.btn-news {
  background: #f09183; /*ボタン色*/
  color: #fff;
  &:hover {
    background: #f29b8d; /*ボタンにカーソルのせた色*/
    color: #fff;
  }
}

.btn-contact {
  background: #88b665; /*ボタン色*/
  color: #fff;
  &:hover {
    background: #9bd272; /*ボタンにカーソルのせた色*/
    color: #fff;
  }
}

// ボタン(送信用)
.btn-sub,
.btn-sub-news,
.btn-sub-contact {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295; /*ボタン下の色*/
  border-radius: 5px;
  &:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px); /*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
    border-bottom: none;
  }
}

.btn-sub-news {
  border-bottom: solid 4px #d77d6f; /*ボタン下の色*/
}

.btn-sub-contact {
  border-bottom: solid 4px #78a555; /*ボタン下の色*/
}

// 削除ボタン
.bg-delete {
  background-color: #d76161;
  color: white;
  &:hover {
    background-color: #cb4949;
  }
}

/*-- 生徒 一覧 --*/

// テーブルの背景
.bg-brown {
  background-color: #f4f0ec;
}

// カード
.btn-view-green,
.btn-view-pink,
.btn-view-brown,
.btn-view-blue,
.btn-view-gray {
  display: inline-block;
  text-decoration: none;
  border: solid 1px #fff;
  border-radius: 5px;
  &:hover {
    background: #fff;
  }
}
.btn-view-green {
  background: #9bcd76;
  &:hover {
    color: #9bcd76;
  }
}

.btn-view-pink {
  background: #f3b4aa;
  &:hover {
    color: #f3b4aa;
  }
}

.btn-view-blue {
  background: #7d90df;
  &:hover {
    color: #7d90df;
  }
}

.btn-view-brown {
  background: #b08274;
  &:hover {
    color: #b08274;
  }
}

.btn-view-brown {
  background: #b08274;
  &:hover {
    color: #b08274;
  }
}

.btn-view-gray {
  background: #9f9f9f;
  &:hover {
    color: #9f9f9f;
  }
}

.card-bg-green {
  color: #fff;
  background: #9bcd76;
}

.card-bg-pink {
  color: #fff;
  background: #f3b4aa;
}

.card-bg-blue {
  color: #fff;
  background: #7d90df;
}

.card-bg-brown {
  color: #fff;
  background: #b08274;
}

.card-bg-gray {
  color: #fff;
  background: #9f9f9f;
}

/*-- ページネーション --*/
.pagination {
  display: block;
  padding: 1em;
  text-align: center;
  color: #4d3a34;
  .disabled {
    color: #c4afaa;
  }
  a,
  span,
  .current {
    line-height: 40px;
    font-size: 16px;
    padding: 0 1.5px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  a,
  .current {
    border: 1px solid transparent;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .current {
    color: #fff;
    cursor: default;
    background-color: #6078bd;
    font-style: normal;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: #fff;
      background-color: #6078bd;
    }
    &:active {
      color: #fff;
      outline: none;
      background-color: #6078bd;
    }
  }
}

/*-- ログインフォーム --*/
.login {
  text-align: center !important;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  h1 {
    margin-bottom: 30px;
  }
}

/*-- バー --*/
.navbar {
  background: rgb(245, 245, 245);
  border-bottom: 1px solid rgb(171, 170, 170);
  transition: 0.3s;
  .btn:hover {
    background-color: #fff;
    color: #6078bd;
    border: solid 1px #6078bd;
  }
  .navbar-brand {
    vertical-align: middle;
    margin-left: 10px;
  }
  .navbar-toggler {
    padding: 0;
  }
  .profile-icon {
    width: 34px;
    border: 2px solid #4d3a34;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.navbar.hide {
  transform: translateY(-60px);
}

/*-- footer --*/
footer {
  background: #ede9e8;
  border-top: 1px solid #e1d8d5;
}

/*-- サイドバー --*/
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 2000;
  background: rgb(245, 245, 245);
  color: #4d3a34;
  transition: all 0.3s;
  overflow-y: scroll;
  .sidebar-header {
    padding: 20px 20px 13px 20px;
    background: rgb(240, 240, 240);
    color: #4d3a34;
    border-bottom: 1px solid #dadada;
  }
  ul.components {
    padding: 10px 0px;
    border-bottom: 1px solid #dadada;
  }
  ul {
    p {
      color: #fff;
      padding: 10px;
    }
    li a {
      text-decoration: none;
      padding: 10px;
      font-size: 1.1em;
      display: block;
      &:hover {
        color: #4d3a34;
        background: #fff;
      }
    }
    li.active > a,
    a[aria-expanded="true"] {
      color: #4d3a34;
      background: rgb(235, 235, 235);
    }
    ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: rgb(235, 235, 235);
    }

    a[data-toggle="collapse"] {
      position: relative;
    }
  }

  .fa-comment {
    color: #eb8f16;
  }
  .fa-graduation-cap {
    color: #9f9f9f;
  }
  .fa-users {
    color: #88685e;
  }
  .fa-clipboard {
    color: #d5877b;
  }
  .fa-file-alt {
    color: #7d90df;
  }
  .fa-envelope {
    color: #78a258;
  }
}

#sidebar.active {
  left: 0;
}

#dismiss {
  border-radius: 3px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #6078bd;
  color: rgb(238, 238, 238);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: #fff;
    color: #7386d5;
    border: solid 1px #6078bd;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1999;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

/*-- 講師 マイページ --*/
.avatar {
  border-radius: 50%;
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
}

// 管理者変更画面　モーダル
.bg-orange {
  background-color: rgb(255, 186, 58);
}

/*-- 指導報告書（詳細） 返信テキスト --*/
.round-text {
  padding: 10px;
  border: 1px solid #856c64;
  border-radius: 4px;
  background: #fff;
}

/*-- 指導報告書（new/edit）生徒(new/edit/editbyteacher) --*/
.select-subjects {
  width: 100% !important;
}
.select2-selection {
  border: solid #ced4da 1px !important;
  padding: 0.2rem 0.4rem;
  font-size: 1.15rem !important;
  line-height: 1.5rem !important;
}

.select2-selection__choice {
  padding: 0.3rem 0.5rem !important;
  font-size: 18px !important;
  line-height: 1.25rem !important;
}
/*-- 一覧のカード(報告書・お知らせ・お問い合わせ) --*/
// 公開・既読のレイアウト
.card_check {
  display: table;
  width: 100%;
  vertical-align: middle;
  font-size: 13.5px;
  .card_check_info {
    display: table-cell;
    width: 80px;
  }
  .card_check_list {
    margin-top: 0px;
    display: table-cell;
    text-align: right;
  }
}

.card-body-icon,
.card-body-icon-news,
.card-body-icon-contact {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 2rem;
  opacity: 0.07;
  font-size: 10rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

// 指導報告書
.border-left-primary {
  border-left: 0.25rem solid #6078bd !important;
}

// お知らせ
.border-left-news {
  border-left: 0.25rem solid #f09183 !important;
}
.card-body-icon-news {
  position: absolute;
  top: -1.2rem;
  right: 2rem;
}

//お問い合わせ
.border-left-contact {
  border-left: 0.25rem solid #88b665 !important;
}

.card-body-icon-contact {
  position: absolute;
  top: -0.6rem;
  right: 1.5rem;
}

/*-- お知らせ　新規作成 (モーダル) --*/
.bg-news {
  background-color: #f09183;
}

/*-- 詳細（お知らせ・お問い合わせ）--*/
.news-title,
.contact-title {
  margin: 5px 20px 10px 20px;
  padding: 5px;
  @media (min-width: 767px) {
    padding-left: 20px;
  }
  font-size: 20px;
}

.news-title {
  background: #f9f2f1;
  border-left: 5px solid #f09183;
}

.contact-title {
  background: #f3f7f1;
  border-left: 5px solid #96c671;
}

.contact-wrapper,
.news-wrapper {
  background: white;
  width: 100%;
  padding: 30px 40px;
  @media (max-width: 767px) {
    padding: 15px;
  }
  border-radius: 25px;
}

.contact-info,
.news-info {
  width: 100%;
  font-size: 14px;
  padding-right: 30px;
  display: block;
  text-align: right;
  height: 30px;
}

.contact-content,
.news-content {
  font-size: 16px;
  border-top: 1px solid rgb(242, 242, 242);
  width: 100%;
  padding: 20px 20px 10px 20px;
}

/*-- リプライ --*/
.reply-teacher {
  padding-left: 60px;
}

.reply {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  line-height: 130%;
}

.reply-left {
  background: #435f7a;
  color: #f5f5f5;
}
.reply-right {
  background: #fff;
  border: 1px solid #856c64;
}
.student-icon,
.teacher-icon {
  border: 2px solid rgb(90, 69, 63);
}

/*-- チャット --*/
.add-message {
  float: right;
}
.room-header {
  text-align: center;
}
.messages {
  border-top: 1px solid #c4c4c4;
}

.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}

.chat {
  padding-left: 15px;
  h5 {
    font-size: 15px;
    color: #464646;
    margin: 0 0 8px 0;
  }
  .chat_date {
    font-size: 13px;
    float: right;
  }
  p {
    font-size: 14px;
    color: #989898;
    margin: auto;
  }
}

/*-- トークルーム --*/
#frame {
  width: 100%;
  height: 93.5vh;
  min-height: 300px;
  max-height: 720px;
  @media (max-width: 360px) {
    width: 100%;
    height: 100vh;
  }
  .content {
    height: 100%;
    overflow: hidden;
    position: relative;
    .contact-profile {
      width: 100%;
      height: 60px;
      line-height: 60px;
      background: #f5f5f5;
      img {
        width: 40px;
        border-radius: 50%;
        float: left;
        margin: 9px 12px 0 9px;
      }
      p {
        float: left;
        margin-bottom: 0px;
      }
    }

    .messages {
      height: auto;
      width: 100%;
      min-height: calc(100% - 80px);
      max-height: calc(100% - 80px);
      overflow-y: scroll;
      overflow-x: hidden;
      ul {
        padding: 0px 1rem;
        @media (min-width: 767px) {
          padding: 0px 3rem;
        }
        li {
          display: inline-block;
          clear: both;
          width: 100%;
          font-size: 0.9em;
          width: 100%;
          margin: 15px 0px 0px 0px;
          img {
            width: 22px;
            border-radius: 50%;
            float: left;
          }
          p {
            display: inline-block;
            padding: 10px 15px;
            border-radius: 20px;
            max-width: 205px;
            line-height: 130%;
            margin-bottom: 0px;
          }
        }
        li:nth-last-child(1) {
          margin-bottom: 20px;
        }
        li.sent img {
          margin: 6px 8px 0 0;
        }
        li.sent p {
          background: #435f7a;
          color: #f5f5f5;
        }
        li.replies img {
          float: right;
          margin: 6px 0 0 8px;
        }
        li.replies p {
          background: #fff;
          float: right;
        }
        li.last {
          margin: 0;
        }
      }
    }
    .messages::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    .messages::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .message-input {
      position: absolute;
      bottom: 0;
      width: 100%;
      z-index: 99;
      .wrap {
        position: relative;
        input,
        textarea {
          font-family: "proxima-nova", "Source Sans Pro", sans-serif;
          float: left;
          border: none;
          width: calc(100% - 50px);
          padding: 15px 32px 13px 8px;
          font-size: 1rem;
          color: #32465a;
        }
        input:focus,
        textarea:focus {
          outline: none;
        }
        button {
          float: right;
          border: none;
          width: 50px;
          padding: 12px 0;
          cursor: pointer;
          background: #32465a;
          color: #f5f5f5;
          &:hover {
            background: #435f7a;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 735px) {
  #frame .content .messages {
    max-height: calc(100% - 105px);
  }
}

@media screen and (min-width: 735px) {
  #frame .content .messages ul li p {
    max-width: 300px;
  }
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap input {
    padding: 17px 32px 18px 8px;
  }
}
@media screen and (max-width: 735px) {
  #frame .content .message-input .wrap button {
    padding: 16px 0;
  }
}

/*-- 指導報告書一覧(admin_index) ---*/
.table-column {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  border-top: none !important;
  border-bottom: 2px solid #e6ddda !important;
}
