/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
/* 鈴木担当編集 */

/*-- errors_message --*/
#error_explanation {
  ul {
    color: #bb0000;
    margin: 0 0 30px 0;
  }
}

body {
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  background: #f4f0ec;
  color: #4d3a34;
  /*background: #fafafa;*/
}

.btn {
  color: #fff;
  background: #6078bd;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#content {
  margin-top: 65px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
/*-- navbar --*/
.navbar {
  background: #e4e4e4;
  .btn:hover {
    background-color: #fff;
    color: #000;
  }
}
.navbar-brand {
  margin-left: 10px;
}

.profile-icon {
  width: 34px;
  border: 2px solid #4d3a34;
  border-radius: 50%;
  vertical-align: bottom;
}

/*-- sidebar --*/
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 2000;
  background: rgb(231, 231, 231);
  color: rgb(119, 119, 119);
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(179, 24, 24, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #6078bd;
  color: rgb(231, 231, 231);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: #fff;
    color: #7386d5;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1999;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px 20px 13px 20px;
  background: #dedede;
  color: rgb(51, 51, 51);
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #838383;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #2e353d;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: rgb(51, 51, 51);
  background: #dedede;
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #dedede;
}

/* 末包担当編集 */
.login {
  background-color: #eee;
}

.title {
  text-align: center;
  font-size: 50px;
}

.input {
  text-align: center;
  font-size: 15px;
}

.input input {
  height: 2.878rem;
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
.loginbutton {
  margin: 20px;
  padding: 20px;
}

.buttons {
  text-align: right;
  margin-right: 50px;
}
.facebook {
  color: #33f;
}
.line {
  color: #3c3;
}
.twitter {
  color: skyblue;
}
.google {
  color: red;
}
/*メニューバー*/
header ul {
  width: 1000px;
  overflow: hidden;
}
header li {
  float: left;
  width: 200px;
  list-style-type: none;
}

header a {
  display: block;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: #ddd;
  color: #000;
}

header a:hover {
  background-color: #c58;
}
/*指導報告書*/
.report {
  font-size: 10px;
}
.report input,
textarea {
  font-size: 1.25rem;
}
.reportbutton {
  text-align: center;
}

/*塾からのお知らせ*/
.news ul {
  border: 2px, solid, black;
}
