/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
/* 鈴木担当編集 */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  background: #f7f5f2;
  color: #4d3a34;
  //background: #e9d2b8;
}

.btn {
  background: #6078bd; /*ボタン色*/
  color: #fff;
  &:hover {
    background: #8197d6; /*ボタンにカーソルのせた色*/
    color: #fff;
  }
}

.btn-sub {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295; /*ボタン下の色*/
  border-radius: 5px;
  &:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px); /*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2); /*影を小さく*/
    border-bottom: none;
  }
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#content {
  padding-top: 55px;
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

/*-- 生徒一覧 --*/
/*-- カード --*/
.btn-view {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  &:hover {
    background: #6f83bf;
    color: #fff;
  }
}

.btn-view-green,
.btn-view-pink,
.btn-view-brown,
.btn-view-blue,
.btn-view-orange {
  display: inline-block;
  text-decoration: none;
  border: solid 1px #fff;
  border-radius: 5px;
  &:hover {
    background: #fff;
  }
}
.btn-view-green {
  background: #9bcd76;
  &:hover {
    color: #9bcd76;
  }
}

.btn-view-pink {
  background: #f3b4aa;
  &:hover {
    color: #f3b4aa;
  }
}

.btn-view-blue {
  background: #7d90df;
  &:hover {
    color: #7d90df;
  }
}

.btn-view-brown {
  background: #b08274;
  &:hover {
    color: #b08274;
  }
}

.btn-view-brown {
  background: #b08274;
  &:hover {
    color: #b08274;
  }
}

.btn-view-orange {
  background: #9f9f9f;
  &:hover {
    color: #9f9f9f;
  }
}

.card-bg-green {
  color: #fff;
  background: #9bcd76;
}

.card-bg-pink {
  color: #fff;
  background: #f3b4aa;
}

.card-bg-blue {
  color: #fff;
  background: #7d90df;
}

.card-bg-brown {
  color: #fff;
  background: #b08274;
}

.card-bg-orange {
  color: #fff;
  background: #9f9f9f;
}

/*-- ページネーション --*/
.pagination {
  display: block;
  padding: 1em;
  text-align: center;
  color: #4d3a34;
  .disabled {
    color: #c4afaa;
  }
  a,
  span,
  .current {
    line-height: 40px;
    font-size: 16px;

    padding: 0 1.5px;
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  a,
  .current {
    border: 1px solid transparent;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .current {
    color: #fff;
    cursor: default;
    background-color: #6078bd;
    font-style: normal;
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: #fff;
      background-color: #6078bd;
    }
    &:active {
      color: #fff;
      outline: none;
      background-color: #6078bd;
    }
  }
}

/*-- ログインフォーム --*/
.login {
  text-align: center !important;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  h1 {
    margin-bottom: 30px;
  }
}

/*-- navbar --*/
.navbar {
  background: rgb(245, 245, 245);
  transition: 0.3s;
  .btn:hover {
    background-color: #fff;
    color: #6078bd;
    border: solid 1px #6078bd;
  }
  .navbar-brand {
    vertical-align: middle;
    margin-left: 10px;
  }
  .navbar-toggler {
    padding: 0;
  }
  .profile-icon {
    width: 34px;
    border: 2px solid #4d3a34;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.navbar.hide {
  transform: translateY(-60px);
}

/*-- sidebar --*/
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 2000;
  background: rgb(245, 245, 245);
  color: #4d3a34;
  transition: all 0.3s;
  overflow-y: scroll;
  .fa-graduation-cap {
    color: #eb8f16;
  }
  .fa-users {
    color: #88685e;
  }
  .fa-clipboard {
    color: #d5877b;
  }
  .fa-file-alt {
    color: #7d90df;
  }
  .fa-envelope {
    color: #78a258;
  }
}

#sidebar.active {
  left: 0;
}

#dismiss {
  border-radius: 3px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #6078bd;
  color: rgb(238, 238, 238);
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    background: #fff;
    color: #7386d5;
    border: solid 1px #6078bd;
  }
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1999;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar .sidebar-header {
  padding: 20px 20px 13px 20px;
  background: rgb(240, 240, 240);
  color: #4d3a34;
  border-bottom: 1px solid #dadada;
}

#sidebar ul.components {
  padding: 10px 0px;
  border-bottom: 1px solid #b3b1b1;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #4d3a34;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #4d3a34;
  background: rgb(235, 235, 235);
}

a[data-toggle="collapse"] {
  position: relative;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: rgb(235, 235, 235);
}

/* 管理者変更画面　モーダル */
.modal-header {
  background-color: rgb(255, 186, 58);
}

/* マイページ */
.avatar {
  border-radius: 50%;
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* 指導報告書　詳細 */
.report-text {
  padding: 10px;
  border: 1px solid #856c64;
  border-radius: 4px;
  background: #fff;
}

/* 指導報告書 一覧 */
.border-left-primary {
  border-left: 0.25rem solid #6078bd !important;
}

.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -0.5rem;
  right: 2rem;
  opacity: 0.07;
  font-size: 10rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* 生徒一覧 */
.bg-delete {
  background-color: #d76161;
  color: white;
  &:hover {
    background-color: #cb4949;
  }
}

.bg-brown {
  background-color: #f4f0ec;
}

.bg-green {
  background: #83ab64;
  &:hover {
    background: #90bb6e;
  }
}

/* 末包担当編集 */
/*.login {
  background-color: #eee;
}

.title {
  text-align: center;
  font-size: 50px;
}

.input {
  text-align: center;
  font-size: 15px;
}

.input input {
  height: 2.878rem;
  line-height: 1.5;
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}
.loginbutton {
  margin: 20px;
  padding: 20px;
}

.buttons {
  text-align: right;
  margin-right: 50px;
}
.facebook {
  color: #33f;
}
.line {
  color: #3c3;
}
.twitter {
  color: skyblue;
}
.google {
  color: red;
}
/*メニューバー*/ /*
header ul {
  width: 1000px;
  overflow: hidden;
}
header li {
  float: left;
  width: 200px;
  list-style-type: none;
}

header a {
  display: block;
  padding: 20px 0;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  background-color: #ddd;
  color: #000;
}

header a:hover {
  background-color: #c58;
}
/*指導報告書*/ /*
.report {
  font-size: 10px;
}
.report input,
textarea {
  font-size: 1.25rem;
}
.reportbutton {
  text-align: center;
}

/*塾からのお知らせ*/ /*
.news ul {
  border: 2px, solid, black;
}

.mb-0 > .btn {
  border: 1px solid #4d3a34;
  text-decoration: none;
}
.mb-0 > .btn:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
.btn-view {
  border: 1px solid #4d3a34;
  text-decoration: none;
}
.btn-view:hover {
  background-color: #fff;
  color: #000;
  text-decoration: none;
}
.mystatus > h1 {
  text-align: center;
}
h1 > .btn {
  background: #f4f0ec;
  color: black;
  padding: 10px;
  font-size: 40px;
}
*/
