<% provide(:title, "編集")%>
<div class="container  mt-3">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<div class="card  bg-brown shadow">
				<div class="card-header">
					<h2><i class="far fa-edit"></i> 報告書編集</h2>
				</div>
				<div class="card-body">
					<%= render 'form', report: @report %>
				</div>
			</div>
		</div>
	</div>
</div>