<% provide(:title, "編集")%>
<% provide(:btn_text, "更新")%>
<div class="container">

  <h1>編集</h1>

  <%= render 'form', report: @report %>

  <%= link_to reports_path , class: "btn btn-view" do%>
  <i></i> 戻る
  <% end %>
</div>