<% provide(:title, "新規作成")%>
<div class="container">
	<div class="row">
		<div class="col-md-10 mx-auto">
			<h3 class="mt-4 mb-0 pl-3">
        <strong class="align-middle">指導報告書作成</strong>
      </h3>

      <hr />
			<div class="card bg-brown shadow-sm">
				<div class="card-body">
					<%= render 'form', report: @report %>
				</div>
			</div>
		</div>
	</div>
</div>