<% provide(:title, "指導報告書")%>
<div class="container mt-3">
  <section id="reports">
    <div class="row">
      <% @reports.each do |report| %>
        <div class="col-md-4">
          <%= render report %>
        </div>
      <% end %>
      <div class="col-md-12">
        <%= will_paginate @news, :previous_label => '&laquo', :next_label => '&raquo' %>
      </div>
    </div>
  </section>
</div>