<nav class="navbar navbar-expand-sm border-bottom border-secondary fixed-top">
  <div class="container">
    <div>
      <button type="button" id="sidebarCollapse" class="btn">
        <i class="fas fa-align-left"></i>
      </button>
      <a href="/" rel="noopener" class="navbar-brand" target="_blank">自由塾</a>
    </div>
    <span class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <%= image_tag 'profile-icon.png', class: "profile-icon" %>
    </span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to current_student, class: "nav-link" do %>
            <i class="fas fa-user"></i> マイページ
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to edit_student_path(current_student),  class: "nav-link" do %>
            <i class="fas fa-cog"></i> 設定
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to students_logout_path, class: "nav-link", method: :delete, 
          data: { confirm: '本当にログアウトしますか？' } do %>
            <i class="fas fa-user-slash"></i> ログアウト
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
