<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
    </button>
    <a href="" class="navbar-brand ml-100">自由塾</a>
    <span class="navbar-toggler border-dark" data-toggle="collapse" data-target="#navbarCollapse">
        <%= image_tag 'profile-icon.png', class: "profile-icon" %>
    </span>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-user"></i> MyPage
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-cog"></i> Settting
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">
            <i class="fas fa-user-slash"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
