<!-- Sidebar -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3 class="text-center">自由塾<br>日暮里教室</h3>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#studentSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fa fa-graduation-cap"></i>          生徒
                    <i class="arrow fa fa-angle-down float-right mt-1"></i>
                </a>
                <ul class="collapse list-unstyled" id="studentSubmenu">
                    <li>
                        <%= link_to '生徒一覧', students_path %>
                    </li>
                    <li>
                        <%= link_to '新規作成', new_student_path %>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#teacherSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-users"></i>          講師
                    <i class="arrow fa fa-angle-down float-right mt-1"></i>
                </a>
                <ul class="collapse list-unstyled" id="teacherSubmenu">
                    <li>
                        <%= link_to '講師一覧', teachers_path %>
                    </li>
                    <li>
                        <%= link_to '新規作成', new_teacher_path %>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="far fa-clipboard"></i>          お知らせ
                </a>
            </li>
            <li>
                <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="far fa-file-alt"></i>          指導報告書
                    <i class="arrow fa fa-angle-down float-right mt-1"></i>
                </a>
                <ul class="collapse list-unstyled" id="reportSubmenu">
                    <li>
                        <a href="">新規作成</a>
                    </li>
                    <li>
                        <a href="">報告書一覧</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="far fa-envelope"></i>          お問い合わせ
                </a>
            </li>
        </ul>
    </nav>

