<!-- Sidebar -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header">
            <h3 class="text-center">自由塾<br>日暮里教室</h3>
        </div>

        <ul class="list-unstyled components">
            <h4 class="text-center pb-2">ユーザー名</h4>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="fas fa-users"></i> 生徒
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <%= link_to '生徒一覧', students_path %>
                    </li>
                    <li>
                        <%= link_to '新規作成', new_student_path %>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="far fa-clipboard"></i> お知らせ
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                    <i class="far fa-file-alt"></i> 指導報告書
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="">新規作成</a>
                    </li>
                    <li>
                        <a href="">報告書一覧</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="">
                    <i class="far fa-envelope"></i> お問い合わせ
                </a>
            </li>
        </ul>
    </nav>

